.login{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqFUoOzaBd_QpPk6HpTIOZZYXdqVUQJur72g&usqp=CAU");
    background-size: 100% 100%;
    height: 100vh;
}

.switchSignup:visited {
    color: white;
}

.switchToSignup {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.switchToSignup p, .switchToSignup a {
    padding: 0 !important;
    vertical-align: middle;
    color: white;
}

.background__img {
    width: 100%;
    height: 100vh;
}

.login-img__container {
    margin: 20px auto 0 auto;
    width: 100%;
    text-align: center;
}

.login_img {
    width: 100%;
}



