.switchSignup:visited {
    color:white;
}
.switchToSignup {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.switchToSignup p, .switchToSignup a {
    padding: 0!important;
    vertical-align: middle;
    color:white;
}

.background__img{
    width: 100%;
    height: auto;
}
