
.card__forecast {
    width: 60%;
}

.card__forecast .temp {
    max-width: 70px;
    margin: auto;
    justify-content: space-between;
}

.card__forecast-day {
    color: #3d3c3c;
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0 0 0;
}

.forecast-container {
    margin: 20px 5px 0 5px;
    min-width: 100px;
}

.card__forecast-summary {
    color: #2b244d;
    font-weight: 100;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 100%;
    text-align: left;
    margin-bottom: 10px !important;
}

.card__forecast-temperature {
    font-size: 20px;
    color: #0c1066;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 830px) {

    .card__forecast {
        width: 100% !important;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 500px) {

    .card__forecast-day {
        font-size: 20px;
    }

    .forecast-container canvas {

        width: 80px;
    }

    .card__forecast-temperature {
        font-size: 15px;
    }

    .card__forecast-summary {
        font-size: 16px;
    }
}
