
.logo-bar {
    width: 50px;
    background-color: #8650f6;
    min-height: 100vh;
    text-align: center;
}

nav {
    background-color: #e6e6e6;
    width: 25%;
    min-height: 100vh;
}

nav ul {
    padding: 0 20px;
}

.setting-main {
    width: 75%;
    min-height: 100vh;
    height: 100%;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

ul li {
    color: #7F8387;
    padding: 15px 10px;
}

.settings ul li:hover {
    cursor: pointer;
    background: #DDEBFE;
    padding: 15px 10px;
    border-radius: 20px;
}

.header--settings {
    margin: 40px 0 50px 0;
}

.container--main {

    min-height: 80vh;
}

/**************form */

.container--signup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-self: center;
    flex-wrap: wrap;
    z-index: 9999;
    background: linear-gradient(rgba(35, 43, 85, 0.85), rgba(35, 43, 85, 0.95));
}

.setting__form {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    padding: 30px;

}

.setting__form label {
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 13px;

    padding-bottom: 10px;
    color: #8650f6;

}

.setting__form img {
    border-radius: 50%;
    width: 75px;

}

.setting__form input, .setting__form textarea, .setting__form select {
    width: 100%;
    height: 35px;

    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
    background: rgba(255, 255, 255, .9);
}

.header--settings {
    color: #505050;
    font-size: 40px;
    width: 100%;

}

.active {
    background-color: #DDEBFE;
    border-radius: 20px;
    font-weight: 900;
    color: black;
}

.avatar-details__container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.settings button {
    margin: 0 10px;
    border: 3px solid #e3e4e5;
    color: #8650f6;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.settings .grey {
    color: #758093;
}

.avatar__container {
    margin-bottom: 25px;
}

.setting__form h2 {
    margin-bottom: 75px;
    color: #505050;
    font-size: 40px;
    width: 100%;
}

.settings .container {
    max-width: 1280px;
    display: flex;
    margin: auto;
    width: 100%;
}

.settings .btn-container {
    width: 100%;
    text-align: right;
    margin-top: 50px;

}

.settings .btn-container input {
    border-radius: 12px;
}

.setting__form select:focus, .setting__form input:focus, .setting__form textarea:focus {
    outline: none;
}

.setting__form textarea {
    min-height: 100px;
}

.setting__form input {
    width: 100%;
}

.container--signup li {
    padding-left: 10px;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: white;

}

.nav ul {
    list-style-type: none;
}

.nav {
    width: 20%;
    flex-wrap: wrap;
    display: flex;
}

.setting__form input[type=submit] {
    background-color: #8650f6;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.setting__form input[type=submit]:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.signup-inactive a {
    cursor: pointer;
    text-decoration: none;
    transition: all .25s ease;
}

.nav .active {
    border-bottom: solid 2px #1059FF;
    padding-bottom: 10px;
    color: white;
}

a:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

.icon--small {
    width: 35px;
    margin-top: 30px;
}

.full-width {
    width: 100%;
}

.extra__container hr {
    margin: 70px 0;
    border: 1px solid #e3e4e5;
}

.delete-account__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-account__container h3 {
    margin: 0;
}

.delete-account__container p {
    margin: 0;
    color: #8D96A6;
}

.delete-account-details__container {

}

@media only screen and (max-width: 768px) {
    .settings .container {
        flex-wrap: wrap;
        margin: 0;
    }

    .settings nav {
        width: 100%;
        min-height: unset;
    }

    .settings .setting-main {
        width: 100%;
        min-height: unset;
        height: auto;
    }

    .setting-main .container--main {
        min-height: unset;
    }

    .settings .setting__form {
        padding: 0;
    }
}

