.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 30%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 30px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 5px;
    height: fit-content;
}

@media (max-width: 1024px) {
    .Modal {
        width: 90%;
    }
}
