
.switchToSignup{
    margin-top: 1rem;
    border-top: 1px solid rgb(187, 194, 220);
}

.switchToSignup p{
    display: inline-block;
    padding-top: 14px;
}

.login-fotpas{
    position: relative;
    width: 150px;
    margin: 10px auto;
    margin-right: 0;
}

.login-fotpas{
    color:white;
    text-align: right;
    cursor: pointer;
}

.login-btn{
    margin-top: 0.7rem;
}

.Signup-body {
    box-sizing: border-box;
    padding: 10px 0;
}

