
.Signup__Container{
    position: fixed;
    top: 18px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.Signup {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 400px;
    height: auto;
    width: 350px;
    border: none;
    background-color: hsla(0,0%,100%,.23);
    opacity: 1;
    -webkit-animation: eAJKHT .4s ease 0s 1 normal none running;
    animation: eAJKHT .4s ease 0s 1 normal none running;
    padding: 0 50px;
    border-radius: 10px;
}
.flex__column {
    flex-direction: column;
}
.switchToSignup{
    margin-top: 1rem;
    border-top: 1px solid rgb(187, 194, 220);
}

.switchToSignup p{
    display: inline-block;
    padding-top: 14px;
}

.login-fotpas{
    position: relative;
    width: 150px;
    margin: 10px auto;
    margin-right: 0;
}

.login-fotpas{
    color:white;
    text-align: right;
    cursor: pointer;
}

.login-btn{
    margin-top: 0.7rem;
}

.SignIn .title-box{
    min-height: 0px;
    line-height: 0;
}

.SignIn .Signup-form-field{
    padding:  0 0 10px;
}

.SignIn .login-fotpas
{
    font-size: 10px ;
}
.SignIn .other-signup-field > span{
    margin: 10px 0;
}

.SignIn .switchToSignup{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.SignIn .switchToSignup p, .SignIn .switchToSignup a{
    padding: 0;
    vertical-align: middle;
}

.SignIn .Signup{
    top:54%;
}



.close-btn{
    position: absolute;
    cursor: pointer;
    right: 16px;
    width: 24px;
    height: 24px;
    fill: rgb(84, 90, 119);
}


.Signup-form > p{
    color: rgb(41, 43, 50);
    font-weight: 300;
    /* font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
    width: 100%;
    /* height: 20px; */
}

form{
    display: block;
    margin: auto;
    width: 100%;
}

.Signup-form-field{
    flex-shrink: 0;
    margin: 0;
    padding: 0 0 16px;
}

#profile--content{
    margin-top: -1px;
    padding-bottom: 10px;
}

.Signup-form-field label{
    display: block;
    color: white;
    /* font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    max-width: 100%;
    padding: 0px 0px 8px;
}

.Signup-form-field > input{
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    color: rgb(41, 43, 50);
    /* font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    min-height: 40px;
    animation: 0s ease 0s 1 normal none running none;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    border: 0;
}



.Signup-form-alert{
    display: block;
    max-width: 100%;
    color: rgb(231, 82, 69);
    /* font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding: 8px 0px 0px;
}

.Signup-form> button{
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    color: #ffffff;
    background-color: rgb(125, 179, 67);
    letter-spacing: 0.25px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 160px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all .25s ease-out;
}

.Signup-form> button:hover{
    background-color: rgb(125, 222, 21);
}

.external-signup-option{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: unset;
    -webkit-box-align: center;
    align-items: center;
    align-self: unset;
    flex: 0 1 auto;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-width: 0px;
    border-color: rgb(41, 43, 50);
}

.other-signup-field>span{
    position: relative;
    text-align: center;
    align-items: center;
    display: block;
    margin: 16px 0px;
}

.other-signup-field>span::before{
    left: 0px;
}

.other-signup-field span::after{
    right: 0px;
}

.other-signup-field > span::before,
.other-signup-field > span::after{
    position: absolute;
    content: "";
    top: 50%;
    width: 30%;
    border-style: initial;
    border-color: initial;
    border-width: 1px 0px 0px;
    border-top: 1px solid rgb(187, 194, 220);
}

.external-signup-option > button{
    box-sizing: border-box;
    width: 45%;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    flex: 0 1 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

#option-Gg{
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    color:rgb(7, 6, 6);
    border-color: rgb(231, 235, 251);
}

.switchToLogin{
    border-top: 1px solid rgb(187, 194, 220)
}

.switchToLogin p{
    display: inline-block;
}

#checkbox{
    -webkit-appearance: checkbox;
}

.checkbox--active{
    display: flex;
    /* -webkit-appearance: checkbox; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(0, 143, 180);
    box-shadow: rgba(1, 164, 209, 0.29) 0px 0px 3px 2px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    flex-shrink: 0;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    transition: box-shadow 0.2s ease 0s;
    border-color: rgb(0, 143, 180);
}

.checkbox--unactive{
    display: flex;
    /* -webkit-appearance: checkbox; */
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(1, 164, 209, 0.29) 0px 0px 3px 2px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    flex-shrink: 0;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    transition: box-shadow 0.2s ease 0s;
    border-color: rgb(0, 143, 180);
}

.checkbox--content{
    display: inline-block;
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: initial;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    max-width: 90%;
    margin: 0px 0px 0px 5px;
    padding: 0px;
}

.checkBox{
    margin: 16px 0px;
    padding: 8px 4px 10px 6px;
    max-width: 50%;

}


.title-box{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 60px;
    position: relative;

    border-bottom: 1px solid rgb(246, 248, 253);
    /**/
    flex-grow: 1;
    color: rgb(41, 43, 50);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 15px 40%;
    overflow: hidden;

}

.Signup-body {
    box-sizing: border-box;
    padding: 10px 0;
}

.other-signup-field p, .other-signup-field span, .Signup-form-field a, .switchToLogin p, .switchToSignup p, .title-box p {
    color: #fff;
}
